$rem-base: 15px;
$spacing-increments: 0.444 0.667 1 1.5 2.25 3.375 5.063 7.594 11.391 17.086;
$length-increments: 0.444 0.667 1 1.5 2.25 3.375 5.063 7.594 11.391 17.086;
$default-line-height: 1.7;
$default-box-shadow: 0 2px 14px -2px rgba(0,0,0,0.1);