@import 'settings';
@import '../../node_modules/decent-scss/modules/all';

@import 'global/note';

* {
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
  background: #fbfbfa;

  font-family: -apple-system, BlinkMacSystemFont, 
    "Segoe UI", "Roboto", "Oxygen", 
    "Ubuntu", "Cantarell", "Fira Sans", 
    "Droid Sans", "Helvetica Neue", sans-serif;
}

/* Allows the window to be repositioned.*/
#title-bar {
  -webkit-app-region: drag;
  display: block;
  padding: 3px;
  width: 100%;
  text-align: center;
  background: transparent;
  position: fixed;
  font: menu;
  z-index: 999;
}

main {
  padding: 2rem;
}

input {
  outline: none;
  line-height: 2.00;
}